@{
    ViewData["Title"] = "Home Page";
}

<br>
    <button onclick="getGeolocation()">Get Geolocation</button>
    <button onclick="setMapToDefaultLocation()">Reset to ARA</button>
<p>
<div id="map"></div>

@section scripts {

<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp4vd5-f9RYM7Jvv5W_CZ1S5awmFJBMUw&callback=initMap">
</script>
}
