@{
    ViewData["Title"] = "Home Page";
}

<div>Map</div>
<div id="map"></div>
<script>
        window.load = initMap();
</script>
<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp4vd5-f9RYM7Jvv5W_CZ1S5awmFJBMUw&callback=initMap">
</script>

