@{
    ViewData["Title"] = "Home Page";
}

<style>
    #map {
    height: 400px;
    width: 100%;
    border: 1px solid black
}
</style>

<div id="map"></div>
<script>
        window.load = initMap();
</script>
<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWYO9gy2-p6JlTVa2ssRGrxIPJjqRRjSs&callback=initMap">
</script>

