@{
    ViewData["Title"] = "Home Page";
}
@model GISProject.Models.LocationModel

<br>
    <button onclick="getGeolocation()" class="btn btn-primary">Get Geolocation</button>
    <button onclick="setMapToDefaultLocation()" class="btn btn-primary">Reset to ARA</button>
<br>
<br>
    <button onclick="getLocationFromServer(0)" class="btn btn-primary">Server gp1</button>
    <button onclick="getLocationFromServer(1)" class="btn btn-primary">Server gp2</button>
    <button onclick="getLocationFromServer(2)" class="btn btn-primary">Server gp3</button>
<p>
@Model.Name
<div id="map"></div>

@section scripts {

<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAp4vd5-f9RYM7Jvv5W_CZ1S5awmFJBMUw&callback=initMap">
</script>
}
